{% extends 'MGM/index.html'%}

{% load static %}

{% block titulo %}Winx{% endblock titulo %}

{% block cambia %}

<main class="px-3">
    <h1>WINX</h1>
    <p class="lead"><br>Aquí podrás crear tu WINX        
    <br>Para que quede en nuestra base de datos deberás completar los campos de categoría, nombre, tipo de hada y transformación.
    {% block importante %}
    <h5>Recordá poner siempre "winx" en el campo categoría</h5>
    {% endblock importante %}
    </p>
    <br>
    <br>
    <p class="lead">
        <form action="" method="POST">
            {% comment %} Token Django {% endcomment %}
            {% csrf_token %}
            <p>Categoría: <input type = "text" name = "categoria">
            <p>Nombre: <input type = "text" name = "nombre">
            <p>Tipo de hada: <input type = "text" name = "hada">
            <p>Transformación: <input type = "text" name = "transformacion">
            <br><br><input type = "submit" value= "Crear" class="btn btn-lg btn-light fw-bold border-white text-white" style="background-color:rgb(88,21,28)">
        </form>
    </p>
    </main>

{% endblock cambia %}